<h1><%= @category.name %></h1>

<h2>Recipes in This Category:</h2>
<ul>
  <% @category.recipes.each do |recipe| %>
    <p>
      <%= recipe.name %> |
      <%= link_to "Delete",
                  bookmark_path(recipe.bookmarks.find_by(category: @category)),
                  method: :delete,
                  class: "btn btn-danger btn-sm" %>
    </p>
  <% end %>
</ul>

<%= link_to "Add a Recipe", new_category_bookmark_path(@category), class: "btn btn-primary" %>
<%= link_to "Back to Categories", categories_path, class: "btn btn-secondary" %>
